*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:'Segoe UI',sans-serif;

    background:
    linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #0f172a
    );

    min-height:100vh;

    color:white;

}

.container{

    width:95%;
    margin:auto;

    padding:30px;

}

.header{

    text-align:center;

    margin-bottom:40px;

}

.header h1{

    font-size:48px;

    font-weight:700;

    margin-bottom:10px;

}

.header p{

    color:#cbd5e1;

    font-size:18px;

}

.cards{

    display:grid;

    grid-template-columns:
    repeat(
        auto-fit,
        minmax(250px,1fr)
    );

    gap:20px;

}

.card{

    background:
    rgba(
        255,
        255,
        255,
        0.08
    );

    backdrop-filter:
    blur(15px);

    border:
    1px solid
    rgba(
        255,
        255,
        255,
        0.15
    );

    border-radius:20px;

    padding:25px;

    transition:0.3s;

    box-shadow:
    0 8px 25px
    rgba(
        0,
        0,
        0,
        0.3
    );

}

.card:hover{

    transform:
    translateY(-5px);

}

.card h3{

    color:#cbd5e1;

    margin-bottom:10px;

    font-size:18px;

}

.card p{

    font-size:34px;

    font-weight:bold;

}

.chart-card{

    margin-top:35px;

    background:
    rgba(
        255,
        255,
        255,
        0.08
    );

    backdrop-filter:
    blur(15px);

    border:
    1px solid
    rgba(
        255,
        255,
        255,
        0.15
    );

    border-radius:20px;

    padding:25px;

    box-shadow:
    0 8px 25px
    rgba(
        0,
        0,
        0,
        0.3
    );

}

.chart-card h2{

    margin-bottom:20px;

}

canvas{

    margin-top:20px;

}

input[type="file"]{

    margin-top:10px;

    margin-right:10px;

    color:white;

}

button{

    background:
    linear-gradient(
        135deg,
        #3b82f6,
        #2563eb
    );

    color:white;

    border:none;

    padding:
    12px 22px;

    border-radius:12px;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    transition:0.3s;

}

button:hover{

    transform:
    scale(1.05);

}

#risk{

    font-weight:bold;

}

#alert{

    font-weight:bold;

}

.footer{

    text-align:center;

    margin-top:40px;

    color:#94a3b8;

    font-size:14px;

}